body{
  background-image: linear-gradient(to right ,#f5f5f5, #878787);;
}
.logo{
  border: 1px black solid;
  background-color: #3a1818;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.logo img{
  width: 100px;
  margin:auto;
}

.alumno{
  color: #1b2f50;
}

#listarNotas li{
  color: #1b2f50;
}